img { /* Titulo 1 */
    border-radius: 8px;
    width: 300px;
    height: 300px;
  }

ul.nav { /* formato del menu superior */
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #032051;
}

ul.nav li { /* donde se encuentran las cosas dentro del menu superior */
    float: left;
}

ul.nav li a { /* formato de letra de lo que se encuentra en la barra de menu */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover { /* para cuando pases el cursos por encima de los botones, que cambie al siguiente color */
    background-color: #3758ad;
}

div { /* contenedores */
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    background-color: rgb(89, 143, 182);
}

.border1 { /* borde/marco tipo 1 */
    border-width: 5px;
    border-style: solid;
    border-color: #0c377c;
    background-color: #49a0f2;
}

.border2 { /* borde/marco tipo 2 */
    border: 5px dashed #49a0f2; /* Forma abreviada de definir todas las propiedades de los bordes */
    background-color: #0c377c;
}

.border3 { /* borde/marco tipo 3 */
    border: 5px dotted #0c377c; /* Forma abreviada de definir todas las propiedades de los bordes */
    background-color:#49a0f2;
}

.radius1 { /* forma tipo 1 */
    border-radius: 20px;
}

.radius2 { /* forma tipo 2 */
    border-radius: 10px 20px 30px 50px;
}

.radius3 { /* forma tipo 3 */
    border-radius: 20px 50px;
}

.radius4 { /* forma tipo 4 */
    border-radius: 50%;
}


/* Diseño UI/UX: Difuminado mayor de la sombra hace que el objeto parezca más distanciado del fondo */

.shadow1 { /* forma de sombra 1 */
    box-shadow: 5px 5px 10px #032051; /* box-shadow: inset ejeX ejeY difuminado espaciado color; */
}

.shadow2 { /* forma de sombra 2 */
    box-shadow: 5px 5px 10px 8px #032051;
}

.shadow3 { /* forma de sombra 3 */
    box-shadow: inset 5px 5px 10px 8px #032051;
}

.shadow4 { /* forma de sombra 4 */
    box-shadow: 5px 5px 10px rgba(64, 37, 22, 0.4);
}

.shadow5 { /* forma de sombra 5 */
    box-shadow: 5px 5px 8px #032051,
                -5px -5px 8px #49a0f2;
}

/* Ejemplo de uso de las sombras*/

.clearfix{ /* formato de la caja de las fotos tipo polaroid */
    width: 100%;
    height: 400px;
    background-color: inherit;
    overflow: hidden;
}

div.polaroid img { /* tamaño imagenes tipo polaroid */
    width: 284px;
    height: 213px;
    border-radius: inherit;
}

div.polaroid { /* caja que simula la forma de foto de polaroid */
    width: 284px;
    height: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgb(47, 92, 165);
    background-color: rgb(200, 250, 251);
    box-shadow: 10px 10px 5px #aaaaaa;
    overflow: auto;
  }
  
div.rotar_der { /* rotacion y posicion de la polaroid derecha */
    float: left;
    transform: rotate(7deg);
  }
  
div.rotar_izq { /* rotacion y posicion de la polaroid izquierda */
    float: left;
    transform: rotate(-8deg);
  }

.clearfix:before,
.clearfix:after {
       content: " ";
       display: table;
       clear: both;
  } 

div.img_fondo { /* formato de la imagen de fondo */
    width: 400px;
    min-height: 600px;
    background-color: inherit;
    border: #032051 solid;
    background-image: url(../img/cupcake2.jpg);
    background-repeat: no-repeat;
    /* Prueba todos los valores posibles que puedes asignar a la propiedad background-position. Consulta chuleta 
    background-position: right top 10px;
    */
    background-position: left top;
    /* Prueba todos los valores que puedes asignar a la propiedad background-size. Consulta la chuleta 
    background-size: 90% auto;
    background-size: auto 50px; 
    background-size: auto 100%;
    background-size: 100% auto;
    background-size: 90% 70%;
    background-size: contain; 
    */
    background-size: cover;
}

/* Webfonts */
@font-face{
    font-family: "Quicksand";
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
    font-weight: normal bold;
    font-style: normal;
  } 
  
body { /* formato del body */
    font-family: Quicksand, sans-serif; /* Tipografías sin remates: */
    /* font-family: 'Crimson Pro', serif; /* Ejemplo de uso de API CSS v2 de Google Fonts*/
}

h2, h3, h4 { /* formato de los tipos de titulo 2, 3 y 4 */
    /* Al usar tipografía del SO (sistema operativo) debemos crear una pila/stack de fuentes tipográficas. 
        El navegador intentará cargar la primera, si no puede la siguiente...etc.
        Tipografías sin remates, más comunes en la web: font-family: Arial, Helvetica, sans-serif;  
        Tipografías con remates o serifa: font-family: 'Times New Roman', Times, serif; 
    */
    font-weight: bold;
}