body {
  background: linear-gradient(38deg, #000428, #009249);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenedor {
  /*** VER 1. Comenta la siguiente línea ***/
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #fafafa;
  color: #009249;
  font-size: 80%;
  font-style: italic;
  padding: 0.5em 2em;
}

.animador {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 1em;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  color: #009249;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.4;
  /*** VER 2. quita el comentario y mira que sucede ***/
  /*
  min-height: 5000px;
  */
}
