body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.section1 {
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid rgb(0, 88, 49);
    background-color: rgb(0, 176, 97);
    color: rgb(204, 98, 0);
    
    
}
.section2 {
    margin-bottom: 20px;
    padding: 30px;
    border: 3px solid #acac9b;
    background-color: #F5F5DC;
    color: #0042d1;
}
.section3 {
    margin-bottom: 20px;
    padding: 40px;
    border: 2px solid rgb(85, 172, 143);
    background-color: Aquamarine;
    color: rgb(88, 0, 159);
}

h2 {
    font-size: 30px;
}

/* Agrega estilos para los colores en cada sección */