/* El selector :root { } tiene más especificidad que la etiqueta html { } pero el resultado final es el mismo */

:root {
  --color: #0eaaaa; /* SOL. */
  --fuente_resumen: 
  /* EJERCICIO. Define dos variables: fuente_resumen y fuente_cuerpo y asigna valores por defecto en 30px y 60px */
}

@media (max-width: 37.5em) {
  :root {
    --color: #e177d8; /* SOL. */
    /* EJERCICIO. Redefine las variables: fuente_resumen y fuente_cuerpo y asigna los valores en 20px y 40px */
  }
}

/* EJERCICIO. Usa las variables donde corresponda con la propiedad font-size: ; */

.cabecera {
  background: var(--color); /* SOL. */
}

.articulo_resumen {
  color: var(--color);
}

.articulo_cuerpo > p:first-child::first-letter {
  color: var(--color);
}

.imagen-circulo,
.imagen-hexagono {
  --color: #d18d66; /* SOL. */
  background: var(--color);
}
