.contenedor {
  padding: 4em 2em; /* VER. 10 poner a 0 el padding lateral del contenedor */
  /*** Primeras pruebas con flexbox 1-2-3-4 ***/
  /*** VER 1. Probando propiedad display:flex; Definiendo un espacio flex ***/
   display: flex; 
  /*** VER 2. Probando las direcciones en que se puede alinear con flex. Por defecto es row ***/
  /* flex-direction: column; */
  /*** SOL. 1 ***/
  /* flex-direction: ; */
  border: 2px solid white;
  /*** VER 3. Centrar el contenido fácilmente con flex-direction y luego definiendo el alto y justificando el contenido. Vuelve a comentarlo cuando termines las pruebas ***/
  /*
  min-height: 100vh;
  justify-content: center;
  */
  /*** VER 4. Probando la propiedad flex-wrap. Prueba con todos los valores posibles ***/
  /* flex-wrap: wrap; */
  /*** VER 9. Alineación con flexbox ***/
  /* justify-content: flex-start; */
  /*** SOL. 7 ***/
  /* justify-content: ; */
  /*** VER 10 ***/
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /*** VER 11 ***/
  /* align-items: flex-start; */
  /*** VER 12 ***/
  /*
  min-height: 50vh;
  align-items: center;
  */
  /*** VER 13. Muestra todos los div del HTML para hacer estas pruebas ***/
  /*
  min-height: 50vh;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  */
}

.animadora {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 0.5em; /* VER. 10 quitar el margen de los elementos */
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  color: #009229;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
  /*** VER 5. Hacer crecer a todos los elementos cuando hay espacio. Mira qué sucede si reduces y amplias la ventana del navegador ***/
  /* flex-grow: 1; */
  /*** VER 6. Hacer que se reduzcan todos los elementos cuando hay espacio. Mira qué sucede si reduces y amplias la ventana del navegador ***/
  /* flex-shrink: 1; */
  /*** VER 8. Alterar el orden visual de los elementos. Esto no cambia el orden real en el HTML, por tanto, hay que cuidar que no sean elementos de navegación , etc. Puede provocar efectos indeseados ***/
  order: 0;
}

.anim1 {
  /*** VER 7.Probando como puedo trabajar con las propiedades flex en elementos y contenedores. Qué sucede si el display: flex; no está definido  ***/
  /* flex-basis: 500px; */
}

.anim2 {
  /*** SOL. 2 ***/
  /* flex-grow: ; */
}

.anim3 {
  /*** SOL. 3 ***/
  /* flex-grow: ; */
  /*** SOL. 4 ***/
  /* flex-shrink: ; */
  /*** VER 12 ***/
  /* align-self: flex-start; */
}

.anim4 {
  /*** SOL. 5 ***/
  /* flex-shrink: ; */
  /*** SOL. 6 ***/
  /* order: ; */
  /*** VER 12 ***/
  /* margin: auto; */
}


body {
  background: linear-gradient(38deg, #002808, #009229);
}
