body {
    font-family: 'Permanent Marker', sans-serif; /* API CSS v2 de Google Fonts*/
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* color de fondo */
}

.card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px; /* radio del borde */
    background-color: #42007b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra de la caja */
}

.card h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;/* margen de abajo */
    text-align: center; /* donde se encontrara el texto */
}

.contact-info p {
    font-size: 24px;
    color: #381663;
    margin-bottom: 10px; /* margen de abajo */
    margin-top: 10px; /* margen de arriba */
    text-align: center; /* donde se encontrara el texto */
}

.contact-info {
    margin-top: 20px;
    text-align: center;
    background-color: #986fe580;
    padding: 12px;
}

.contact-info a {
    display: block;
    font-size: 20px;
    color: #b096ce;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-info a:hover {
    color: rgb(255, 255, 255);
}

.contact-info a:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}