* {
    box-sizing: border-box; /* modelo de caja width+padding+border */
}

body {
    font-size: 16px; /* tamaño de la letra*/
    font-family: sans-serif; /* fuente de la letra */
    margin: 50px; /* margen */
}

h1, h2 {
    font-size: 18px;  /* tamaño de la letra de los tipos de titulos 1 y 2 */
}

div {
    background-color: rgb(145, 200, 233); /* color de fondo de las cajas */
    float: none; /* en que direccion estara puesto el texto */
    border: 2px solid white; /* color y tamaño del borde de la caja */
    padding: 40px; /* Espaciado de un elemento */
}

.principal, .secundaria {
        width: 100%;
        float: left;
    }

img {
    border: 3px solid rgb(73, 109, 193); /* color y tamaño del borde de la imagen */
    /* Ejemplo para hacer responsive la imagen - Descomenta la siguiente línea de código */
    max-width: 100%; 
}

/* Diseño desktop first - pensar en el escritorio primero y luego ir reduciendo */

/* Ejemplo de media querie para hacer responsive la web cuando el espacio es muy reducido 
   Las cajas deben flotar una debajo de la otra y no al lado. 
*/


@media screen and (min-width: 1000px) {
    h1,h2 {
        font-size: 24px;
    }
    body {
        font-size: 30px;
    }
}

@media screen and (min-width: 850px) {
    .principal {
        width: 40%; /* Anchura de un elemento */
        min-height: 30em; /* Altura mínima de un elemento */
    }
    
    .secundaria {
        width: 60%; /* Anchura de un elemento. */
        min-height: 30em; /* Altura mínima de un elemento */
    }
}

