* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    margin: 50px;
}

h1, h2 {
    font-size: 30px;
}

div {
    background-color: rgb(145, 200, 233);
    float: left;
    border: 2px solid white;
    padding: 40px;
}

.principal {
    width: 40%;
    min-height: 30em;
}

.secundaria {
    width: 60%;
    min-height: 30em;
}

img {
    border: 3px solid rgb(73, 109, 193);
    /* Ejemplo para hacer responsive la imagen - Descomenta la siguiente línea de código */
    /* max-width: 100%; */
}

/* Diseño desktop first - pensar en el escritorio primero y luego ir reduciendo */

/* Ejemplo de media querie para hacer responsive la web cuando el espacio es muy reducido 
   Las cajas deben flotar una debajo de la otra y no al lado. 
*/

/*
@media screen and (max-width: 1000px) {
    h1,h2 {
        font-size: 24px;
    }
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    .principal,
    .secundaria {
        width: 100%;
        float: none;
    }
}

*/